@model List<WLSPL_CRM_2.Models.Company>

@{
    ViewData["Title"] = "Getlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/libs/vanilla-datatables/vanilla-dataTables.min.css">
<link rel="stylesheet" href="~/assets/libs/vanilla-datatables-editable/datatable.editable.min.css">
<script src="~/assets/libs/vanilla-datatables/vanilla-dataTables.min.js"></script>
<script src="~/assets/libs/vanilla-datatables-editable/datatable.editable.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h4 class="card-title"> Comapny List </h4>
                    </div>
                    <div class="col-auto ms-auto">
                        <a class="btn btn-primary" asp-controller="Company" asp-action="Getcomapnyform">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-text"> +Add comapny </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <form method="post" asp-action="DeleteLead">
                    <div class="table-responsive">
                        <table class="table" id="companyTable">
                            <thead class="table-light">
                                <tr>
                                    <th>company code</th>
                                    <th>Company Name</th>
                                    <th>GST Number</th>
                                    <th>AreaNAme</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in Model)
                                {
                                    <tr>
                                        <td>@company.CompanyCode</td>
                                        <td>@company.CompanyName</td>
                                        <td>@company.GSTNo</td>
                                        <td>@company.AreaNAme</td>
                                        <td>
                                            <a href="@Url.Action("GetcompanybyID", "company", new { id = company.Id })" class="btn btn-success btn-sm">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a href="@Url.Action("Deletecompany", "company", new { id = company.Id })"
                                               class="btn btn-danger btn-sm"
                                               onclick="return confirm('Are you sure you want to delete the company with code @company.CompanyCode');">
                                                <i class="fa fa-trash"></i> 
                                            </a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dataTable = new DataTable("#companyTable", {
            searchable: true,
            fixedHeight: true,
        });
    });
</script>




